*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  list-style-type: none;
  user-select: none;
}

body {
  background-color: #000;
  cursor: cell;
  overflow: hidden;
}

.unit {
  position: fixed;
  top: 0;
  left: 0;
}

.unit canvas {
  display: block;
  background-color: #000;
}

.js_btnClick {
  width: 140px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  font-family: Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.js_circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
